.MiniMenu{
    width: 72px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content: center;
}
.MiniMenu svg{
    width: 27px;
    height: 27px;
}

.MiniMenu__navegation{
    border-radius: 8px;
    cursor: default;
    overflow-x: hidden;
}

.MiniMenu__navegation-list{
    padding: 8px 12px;
}
.MiniMenu__navegation-home,.MiniMenu__navegation-search{
    width: 48px;
    height: 48px;
    padding: 4px 12px;
}
.MiniMenu__search{
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    cursor: default;
    overflow: hidden;
}

.MiniMenu__search-search{
    display: flex;
    gap: 16px;
    flex-direction: column;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
}


.MiniMenu__search-songs{
    width: 100%;
    max-height: 100%;
    padding-right: -10px;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    overflow-y: scroll;
    overflow-x: hidden;
}
.MiniMenu__search-songs {
    /* Estilos predeterminados */
    transition: background 0.3s linear; /* Transición de fondo para el estado normal */
}
/* Estilo para la barra de desplazamiento */
.MiniMenu__search-songs::-webkit-scrollbar {
     /* Ancho de la barra de desplazamiento */
    width: 10px;
}

  /* Estilo para el riel de la barra de desplazamiento */
.MiniMenu__search-songs::-webkit-scrollbar-track {
    background: #000; /* Color de fondo del riel */
}

  /* Estilo para el thumb (la parte desplazable de la barra) */
.MiniMenu__search-songs::-webkit-scrollbar-thumb {
    background: #000; /* Color del thumb */
}

.MiniMenu__search-songs.hoverScroll::-webkit-scrollbar-thumb {
    background: #f1f1f1; /* Color del thumb al pasar el cursor sobre él */
}

.MiniMenu__search-songs.hoverScroll::-webkit-scrollbar-track {
    background: #9f9f9f; /* Color de fondo del riel */
}

.MiniMenu__search-songs div svg{
    margin: 8px;
    width: 48px;
    height: 48px;
}