.Artist{
    width: 100%;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.Artist__image{
    /* overflow: hidden; */
    position: relative;
}

.Artist:hover .Artist__play{
    /* bottom: 0;
    right: 0; */
    transform: translate(0, -110%);
    opacity: 1;
    transition: transform 0.3s ease, opacity 0.6s ease; 
}

.Artist__play{
    width: 48px;
    height: 48px;
    margin: 0 8px 8px 0;
    background-color: #1fdf64;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    opacity: 0;
    right: 0;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.3);
    transform: translate(0, 0);
    transition: transform 0.6s ease, opacity 0.3s ease; 
}
.Artist__play svg{
    width: 24px;
    height: 24px;

}

.Artist__image img{
    border-radius: 8px;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
    aspect-ratio: 1/1;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.Artist__text{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.Artist__text-title{
    font-size: 16px;
    font-weight: 600;
}
.Artist__text-artist{
    font-size: 14px;
    font-weight: 400;
}

.Artist .HiddeText{
    display: none;
}
.HiddeText__play{   
    width: 20px;
    height: 20px;
}

.Artist:hover .HiddeText__play{
    /* bottom: 0;
    right: 0; */
    transform: translate(60%, -80%);
    opacity: 1;
    transition: transform 0.3s ease, opacity 0.6s ease; 
}


.LeftText{
    flex-direction: row;
}
.LeftText .Artist__text{
    display: flex;
    flex-direction: column;
    height: 100;
    width: 80%;
    gap: 0;
}
.LeftText .Artist__image{
    width: 20%;
}