svg{
    width: 16px;
    height: 16px;
}

.Explorer{
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 12px 12px 0 0;
    background: linear-gradient(0deg, #000 0 30%, rgb(159, 159, 159, 0.5) 100%);
}

.Explorer__navegation{
    width: 100%;
    height: 64px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}
.Explorer__navegation-left{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.Explorer__navegation-right{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12px;
    font-size: 14px;
}
.Explorer__navegation-right-premium{
    background: #fff;
    color: #000;
    border-radius: 8px;
    padding: 0 8px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.Explorer__navegation-right-install{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.Explorer__navegation-right-install-icon{
    width: 16px;
    height: 16px;
    border: 1px solid #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Explorer__navegation-right-install-icon svg{
    width: 8px;
    height: 8px;
}
.Explorer__navegation-right-install:hover{
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;

}
.Explorer__navegation-right-notifications{
    opacity: 0.7;
}
.Explorer__navegation-right-notifications:hover{
    opacity: 1;
}
.Explorer__navegation-right-notifications svg{
    width: 16px;
    height: 16px;
}
.pointer{
    cursor: pointer;
}
.scale1{
    transition: all 0.2s ease-in-out;
}
.scale1:hover{
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
}
.Explorer__content + .Explorer__content {
    margin-top: 24px; /* Agrega margen superior al segundo elemento .Explorer__content */
}

.Explorer__content-explorar{
    width: 100%;
    max-height: 100%;
    height: 75vh;
    padding: 16px;
    overflow-y: scroll;    
}

.Explorer__content-title{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.Explorer__content-title div:nth-child(1){
    font-size: 26px;

}
.Explorer__content-cards{
    width: calc(100% + 24px);
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: repeat(1, minmax(0, 1fr));
    margin-left:-12px;
}
.Explorer__content-cards > :nth-child(n+4) {
    display: none;
}
.Explorer__content-explorar::-webkit-scrollbar {
    /* Ancho de la barra de desplazamiento */
    width: 10px;
}
 /* Estilo para el riel de la barra de desplazamiento */
.Explorer__content-explorar::-webkit-scrollbar-track {
   background: transparent; /* Color de fondo del riel */
}

 /* Estilo para el thumb (la parte desplazable de la barra) */
.Explorer__content-explorar::-webkit-scrollbar-thumb {
   background: transparent; /* Color del thumb */
}

.Explorer__content-explorar.hoverScroll::-webkit-scrollbar-thumb {
   background: #f1f1f1; /* Color del thumb al pasar el cursor sobre él */
}

.Explorer__content-explorar.hoverScroll::-webkit-scrollbar-track {
   background: #9f9f9f; /* Color de fondo del riel */
}



@media (min-width: 826px) {
    .Explorer__content-cards {
        grid-template-columns: repeat(4, 1fr);
    }
    .Explorer__content-cards > :nth-child(n+4) {
        display: grid;
    }
    .Explorer__content-cards > :nth-child(n+5) {
        display: none;
    }
}
@media (min-width: 1026px) {
    .Explorer__content-cards {
        grid-template-columns: repeat(5, 1fr);
    }
    .Explorer__content-cards > :nth-child(n+4) {
        display: grid;
    }
    .Explorer__content-cards > :nth-child(n+6) {
        display: none;
    }
}
@media (min-width: 1226px) {
    .Explorer__content-cards {
        grid-template-columns: repeat(6, 1fr);
    }
    .Explorer__content-cards > :nth-child(n+4) {
        display: grid;
    }
    .Explorer__content-cards > :nth-child(n+7) {
        display: none;
    }
}
@media (min-width: 1426px) {
    .Explorer__content-cards {
        grid-template-columns: repeat(7, 1fr);
    }
    .Explorer__content-cards > :nth-child(n+4) {
        display: grid;
    }
    .Explorer__content-cards > :nth-child(n+8) {
        display: none;
    }
}
@media (min-width: 1626px) {
    .Explorer__content-cards {
        grid-template-columns: repeat(8, 1fr);
    }
    .Explorer__content-cards > :nth-child(n+4) {
        display: grid;
    }
    .Explorer__content-cards > :nth-child(n+9) {
        display: none;
    }
}
@media (min-width: 1826px) {
    .Explorer__content-cards {
        grid-template-columns: repeat(10, 1fr);
    }
    .Explorer__content-cards > :nth-child(n+4) {
        display: grid;
    }
    .Explorer__content-cards > :nth-child(n+10) {
        display: none;
    }
}

/* Styles para State Song pequeño */
.Explorer__contentMini + .Explorer__contentMini {
    margin-top: 24px; /* Agrega margen superior al segundo elemento .Explorer__content */
}

.Explorer__contentMini-explorar{
    width: 100%;
    max-height: 100%;
    height: 75vh;
    padding: 16px;
    overflow-y: scroll;    
}

.Explorer__contentMini-title{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.Explorer__contentMini-title div:nth-child(1){
    font-size: 26px;

}
.Explorer__contentMini-cards{
    width: calc(100% + 24px);
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: repeat(1, minmax(0, 1fr));
    margin-left:-12px;
}
.Explorer__contentMini-cards > :nth-child(n+3) {
    display: none;
}
.Explorer__contentMini-explorar::-webkit-scrollbar {
    /* Ancho de la barra de desplazamiento */
    width: 10px;
}
 /* Estilo para el riel de la barra de desplazamiento */
.Explorer__contentMini-explorar::-webkit-scrollbar-track {
   background: transparent; /* Color de fondo del riel */
}

 /* Estilo para el thumb (la parte desplazable de la barra) */
.Explorer__contentMini-explorar::-webkit-scrollbar-thumb {
   background: transparent; /* Color del thumb */
}

.Explorer__contentMini-explorar.hoverScroll::-webkit-scrollbar-thumb {
   background: #f1f1f1; /* Color del thumb al pasar el cursor sobre él */
}

.Explorer__contentMini-explorar.hoverScroll::-webkit-scrollbar-track {
   background: #9f9f9f; /* Color de fondo del riel */
}



@media (min-width: 826px) {
    .Explorer__contentMini-cards {
        grid-template-columns: repeat(3, 1fr);
    }
    .Explorer__contentMini-cards > :nth-child(n+3) {
        display: grid;
    }
    .Explorer__contentMini-cards > :nth-child(n+4) {
        display: none;
    }
}
@media (min-width: 1026px) {
    .Explorer__contentMini-cards {
        grid-template-columns: repeat(4, 1fr);
    }
    .Explorer__contentMini-cards > :nth-child(n+3) {
        display: grid;
    }
    .Explorer__contentMini-cards > :nth-child(n+5) {
        display: none;
    }
}
@media (min-width: 1226px) {
    .Explorer__contentMini-cards {
        grid-template-columns: repeat(5, 1fr);
    }
    .Explorer__contentMini-cards > :nth-child(n+3) {
        display: grid;
    }
    .Explorer__contentMini-cards > :nth-child(n+6) {
        display: none;
    }
}
@media (min-width: 1426px) {
    .Explorer__contentMini-cards {
        grid-template-columns: repeat(6, 1fr);
    }
    .Explorer__contentMini-cards > :nth-child(n+3) {
        display: grid;
    }
    .Explorer__contentMini-cards > :nth-child(n+7) {
        display: none;
    }
}
@media (min-width: 1626px) {
    .Explorer__contentMini-cards {
        grid-template-columns: repeat(7, 1fr);
    }
    .Explorer__contentMini-cards > :nth-child(n+3) {
        display: grid;
    }
    .Explorer__contentMini-cards > :nth-child(n+8) {
        display: none;
    }
}
@media (min-width: 1826px) {
    .Explorer__contentMini-cards {
        grid-template-columns: repeat(9, 1fr);
    }
    .Explorer__contentMini-cards > :nth-child(n+3) {
        display: grid;
    }
    .Explorer__contentMini-cards > :nth-child(n+9) {
        display: none;
    }
}
